<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color:black;
            }
            h1 {
                color:white;
                text-align:center;
            }
            h3 {
                color:white;
                text-align:center;
            }
            h4 {
                color:red;
                text-align:center;
            }
        </style>
        <title>SM Hub Web Interface</title>
    </head>
    <body>
        <h1>Skylar McDermott Web Hub</h1>
        <h3>This is just the beginning... (coming soon)</h3>
        <h4>This site is under active development</h4>
    </body>
</html>